@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

* {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.main-block {
    padding: 0 22%;
    min-height: calc(100vh - 170px);
}